<launch>
  <!-- sonar filter -->
  <node pkg="sonar_filter" name="sonar_filter_node" type="sonar_filter_node" />

  <!-- Gmapping -->
  <arg name="custom_gmapping_launch_file" default="$(find water_navigation)/launch/includes/gmapping/ros_gmapping.slave.launch.xml"/>
  <include file="$(arg custom_gmapping_launch_file)"/>

  <!-- Move base -->
  <include file="$(find water_navigation)/launch/includes/move_base.slave.launch.xml"/>

  <!-- CA Policy -->
  <include file="$(find ca_policy)/launch/ca_policy.launch"/>
</launch>
