<launch>

  <!-- vision object -->
  <node pkg="vision_object" name="vision_object" type="vision_object" >
    <rosparam file="$(find ca_policy)/param/vision_object.yaml" command="load" />
  </node>

  <!-- ca policy -->
  <node pkg="ca_policy" name="ca_policy" type="ca_policy" >
    <rosparam file="$(find ca_policy)/param/ca_policy.yaml" command="load" />
  </node>

</launch>

